@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

/* Global =================================== */
:root {
  --bg-color: #3A2449;
  --primary-color: #C1292E;
  --primary-color-hover: #a7262a;
  --secondary-color: #FFE74C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
}

/* Header =================================== */
header {
  padding: 2rem 0;
  margin-bottom: 1.5rem;
}

header h1.title {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* Text Box =================================== */
section .text-box {
  width: 90%;
  margin: 0 auto;

  user-select: none;
}

.text-box h2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: white;
  text-shadow: 0.1rem 0.1rem 5px rgba(0, 0, 0, 0.4);
  
  background-color: var(--primary-color);
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  
  box-shadow: 0.1rem 0.3rem 5px rgba(0, 0, 0, 0.3);
}

.text-box[data-animation=appear] {
  animation: appear 500ms forwards;
}

/* Choice Options =================================== */
.choices-container {
  margin-top: 8rem;
  padding-bottom: 8rem;

  display: flex;
  justify-content: center;
  gap: 8rem;
  flex-wrap: wrap;
}

.choices {
  position: relative;

  cursor: pointer;
  user-select: none;

  padding: 2rem;
  border-radius: 50%;
  background-color: var(--primary-color);

  box-shadow: 0.1rem 0.3rem 5px rgba(0, 0, 0, 0.3);
  transition: transform .2s;
}

.choices:hover {
  background-color: var(--primary-color-hover);
  transform: scale(1.1);
}

.choices[data-animation=appear-and-rotate] {
  animation: appear-and-rotate 600ms;
}

.choices[data-choice=Rock] > img {
  transform: rotate(-90deg);
}

.choices.user-choice {
  position: relative;
  cursor: default;
  order: -1;
}

.choices.user-choice::before {
  content: "You";
  display: block;
  width: 100%;
  height: 50px;

  position: absolute;
  top: -50px;
  left: 0;

  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.choices.computer-choice {
  position: relative;
  cursor: default;
}

.choices.computer-choice::before {
  content: "Computer";
  display: block;
  width: 100%;
  height: 50px;

  position: absolute;
  top: -50px;
  left: 0;

  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.choices[data-animation=left-to-right] {
  animation: left-to-right 600ms;
}

.choices[data-animation=right-to-left] {
  animation: right-to-left 600ms;
}

/* Tooltip =================================== */
.tooltip {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  bottom: -3.5rem;
  left: 0;
  right: 0;
  z-index: 10;

  height: 2.5rem;
  width: 8rem;
  margin: 0 auto;
  background-color: #000;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  color: #fff;
}

.tooltip::before {
  content:  "";

  position: absolute;
  top: -1rem;
  border-bottom: .5rem solid #000;
  border-top: .5rem solid transparent;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
}

.choices:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

/* Buttons =================================== */
#play-again {
  opacity: 0;
  visibility: hidden;

  text-align: center;
  padding-bottom: 10rem;
  user-select: none;
}

#play-again > button {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 5px rgba(0, 0, 0, 0.4);

  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: .6rem 1.8rem;

  box-shadow: 0.1rem 0.3rem 5px rgba(0, 0, 0, 0.3);
}

#play-again.show {
  opacity: 1;
  visibility: visible;
  
  transition: opacity .5s .5s;
}

#play-again.show button {
  cursor: pointer;

  transition: transform .2s;
}

#play-again.show button:hover {
  background-color: var(--primary-color-hover);
  transform: scale(1.1);
}

/* Keyframes =================================== */
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes appear-and-rotate {
  from {
    opacity: 0;
    transform: scale(0, 0) rotate(-180deg);
  }
  to {
    opacity: 1;
    transform: scale(1, 1) rotate(0deg);
  }
}

@keyframes left-to-right {
  from {
    opacity: 0;
    transform: translateX(-20vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-to-left {
  from {
    opacity: 0;
    transform: translateX(20vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}